@model IEnumerable<ASP.NET.Models.Commande>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.quantiteDemandee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Materiau.libelleFrancais)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.quantiteDemandee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Materiau.libelleFrancais)
        </td>
    </tr>
}

</table>
